html {
  background: #faf9f6;
}

h1 {
  margin: 5px auto 20px auto;
  width: 400px;
  text-align: center;
}

nav {
  width: 95%;
  padding: 1%;
  border: 1px solid black;
  margin: 5px auto 30px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

#nav-brand {
  font-weight: bold;
  font-size: 20px;
}

hr {
  width: 400px;
  color: black;
}

button {
  background: white;
}

#book-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 400px;
}

.book-element {
  border: 1px solid black;
}

.book-element {
  background: white;
  margin: 0 auto;
  width: 400px;
  border: 1px solid black;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-element:nth-child(even) {
  background: white;
  margin: 0 auto;
  width: 400px;
  border: 1px solid black;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-element:nth-child(even) {
  background: white;
}

#addButton,
.book-element:nth-child(even) button,
.book-element:nth-child(odd) {
  background: grey;
  color: white;
}

.book-author {
  padding-right: 5px;
}

#contact-display {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.display-on {
  display: block !important;
}

.display-off {
  display: none !important;
}

#addButton,
.book-element:nth-child(even) button,
.book-element:nth-child(odd) {
  background: grey;
  color: white;
}

.book-author {
  padding-right: 5px;
}
